@media (min-width: 900px) {
    .container {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 900px;
    }

    .blank {
        width: 150px;
        height: 150px;
    }

    #round {
        font-size: 20px;
        margin: 3px;
    }
}

@media (max-width: 900px) {
    .container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 900px;
    }

    .blank {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 500px) {
    .container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 500px;
    }

    .blank {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 300px) {
    .container {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        width: 300px;
    }

    .blank {
        width: 80px;
        height: 80px;
    }
}

html {
    height: 100%;
    margin: 0;
    background-color: #303030;
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}

.body {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.blank {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-right: #fff solid 3px;
    border-bottom: #fff solid 3px;
}

.blank:nth-child(3) {
    border-bottom: none;
}

.no-right {
    border-right: none;
}

.none {
    cursor: auto;
}

#round {
    display: block;
    font-size: 50px;
}

.off {
    cursor: auto;
}

#playAgain {
    font-size: 18px;
    cursor: pointer;
    transition: color 0.2s linear;
}

#playAgain:hover {
    color: #00aa00;
}

.hidden {
    display: none;
}
